{% extends "idcard_app/base.html" %}
{% block title %}{{ title }} — Admin{% endblock %}
{% block content %}
<div class="page-header"><div class="container"><h1><i class="bi bi-collection me-2"></i>{{ title }}</h1></div></div>
<div class="container pb-5">
  <div class="row justify-content-center"><div class="col-lg-7">
    <div class="card-nit p-4">
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label fw-500">Batch Code *</label>{{ form.batch_code }}
            {% if form.batch_code.errors %}<div class="text-danger small">{{ form.batch_code.errors.0 }}</div>{% endif %}
          </div>
          <div class="col-md-6">
            <label class="form-label fw-500">Status *</label>{{ form.status }}
          </div>
          <div class="col-12">
            <label class="form-label fw-500">Course *</label>{{ form.course }}
          </div>
          <div class="col-12">
            <label class="form-label fw-500">Faculty</label>{{ form.faculty }}
          </div>
          <div class="col-md-6">
            <label class="form-label fw-500">Start Date *</label>{{ form.start_date }}
          </div>
          <div class="col-md-6">
            <label class="form-label fw-500">End Date</label>{{ form.end_date }}
          </div>
          <div class="col-md-8">
            <label class="form-label fw-500">Timing</label>{{ form.timing }}
          </div>
          <div class="col-md-4">
            <label class="form-label fw-500">Total Seats</label>{{ form.total_seats }}
          </div>
          <div class="col-12">
            <label class="form-label fw-500">Description</label>{{ form.description }}
          </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <a href="{% url 'admin_batch_list' %}" class="btn btn-outline-secondary">Cancel</a>
          <button type="submit" class="btn btn-nit-red px-5"><i class="bi bi-save me-1"></i>Save Batch</button>
        </div>
      </form>
    </div>
  </div></div>
</div>
{% endblock %}
